$--btn-prefix: 'btn';

.#{$--btn-prefix} {
  @include transition();
  @include center();
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: px2rem(14px);
  color: var(--color-text);
  white-space: nowrap;
  &[disabled] {
    cursor: not-allowed;
  }
  &[size=small] {
    line-height: px2rem(14px);
    font-size: px2rem(12px);
  }

  &:hover {
    color: var(--color-primary);
  }

  &-search {
    padding: 0 1em;
    color: #666;
    background: #f5f5f5;
    border-radius: 18px;
    line-height: 36px;
    gap: 0.5rem;
  }
}
