$--btn-prefix: 'btn';

.#{$--btn-prefix} {
  @include transition();
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  font-size: px2rem(14px);
  line-height: px2rem(32px);
  color: var(--color-text);
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: px2rem(4px);
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &--large {
    line-height: px2rem(44px);
    font-size: px2rem(16px);
  }

  &--small {
    line-height: px2rem(16px);
    font-size: px2rem(12px);
  }

  &--primary {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0 1rem;
    &:hover {
      background-color: rgba(var(--rgb-primary), 0.8);
    }
    &[disabled] {
      &:hover {
        background-color: var(--color-primary);
      }
    }
  }

  &--primary-outline {
    border-color: currentColor;
    color: var(--color-primary);
    padding: 0 1rem;
    &:hover {
      color: rgba(var(--rgb-primary), 0.8);
    }
    &[disabled] {
      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &--circle {
    border-radius: 100%;
    width: px2rem(24px);
    height: px2rem(24px);
    overflow: hidden;
    padding: 0;
    &.#{$--btn-prefix}--large {
      width: px2rem(44px);
      height: px2rem(44px);
    }
  
    &.#{$--btn-prefix}--small {
      width: px2rem(16px);
      height: px2rem(16px);
    }
  }

  &--ripple {
    overflow: hidden;
    position: relative;
    .ripple {
      border-radius: 50%;
      background-color: rgba(var(--rgb-white), 0.4);
      position: absolute;
      transform: scale(0.3);
    }
  }

  &--search {
    padding: 0 1em;
    color: var(--color-text-secondary);
    background-color: rgba(var(--rgb-black), 0.04);
    border-radius: 18px;
    line-height: 36px;
    gap: 0.5rem;
    &:hover {
      background-color: rgba(var(--rgb-black), 0.08);
    }
  }

  @keyframes ripple {
    to {
      transform: scale(3);
      opacity: 0;
    }
  }
}
