$--btn-prefix: 'btn';

.#{$--btn-prefix} {
  @include transition();
  @include center();
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: px2rem(14px);
  color: var(--color-text);
  white-space: nowrap;
  gap: 0.5rem;
  border-radius: px2rem(2px);
  &[disabled] {
    cursor: not-allowed;
  }
  &[size=small] {
    line-height: px2rem(14px);
    font-size: px2rem(12px);
  }
  &[size=normal] {
    line-height: px2rem(32px);
    font-size: px2rem(14px);
    padding: 0 1rem;
  }

  &:hover {
    color: var(--color-primary);
  }
  &-primary {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
    &:hover {
      background-color: rgba(var(--rgb-primary), 0.8);
      color: var(--color-white);
    }
  }

  &-search {
    padding: 0 1em;
    color: var(--color-text-secondary);
    background-color: rgba(var(--rgb-black), 0.04);
    border-radius: 18px;
    line-height: 36px;
    gap: 0.5rem;
    &:hover {
      background-color: rgba(var(--rgb-black), 0.08);
    }
  }

  &-ripple {
    overflow: hidden;
    position: relative;
    .ripple {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      transform: scale(0);
    }
  }
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
