<header class="totonoo-site-header" id="site-header">
  <h2 class="logo">
    <a href="/">
      <i class="icon icon-logo">
        <%- include('./icons/logo.svg') %>
      </i>
      <strong>totonoo.com</strong>
    </a>
  </h2>
  <nav class="nav">
    <button class="btn btn-top-menu">
      <i class="icon icon-menu">
        <%- include('./icons/menu.svg') %>
      </i> 
    </button>
    <%
    const navs = [{
      title: '首页',
      href: '/',
      icon: 'home'
    }, {
      title: '文档',
      href: '/',
      icon: 'document-text'
    }, {
      title: '书架',
      href: '/',
      icon: 'book-open'
    }]
    %>
    <ul class="nav-ul">
      <% navs.forEach((item, index) => { %>
      <li<%- index == 0 ? ' class="current"' : ''%>>
        <a href="<%= item.href %>">
          <i class="icon icon-home">
            <%- include(`./icons/${item.icon}.svg`) %>
          </i>
          <%= item.title %>
        </a>
      </li>
      <% }) %>
    </ul>
  </nav>
  <div class="user flex">
    <div class="search">
      <button class="btn btn-search" role="t-dailog" role-ele=".search-dailog">
        <i class="icon icon-search">
          <%- include('./icons/search.svg') %>
        </i>
        搜索
      </button>
      <div class="search-dailog dailog-mask">
        <div class="container dailog-content">
          <h2 class="flex">
            <div class="title" flex="auto">搜索</div>
            <button class="btn dailog-hide-button">
              <i class="icon icon-search">
                <%- include('./icons/remove.svg') %>
              </i>
            </button>
          </h2>
          <div class="input-box flex">
            <input class="input" flex="auto" placeholder="多个关键词用空格分开" autofocus />
            <button class="btn btn-primary btn-ripple" size="normal">
              <i class="icon icon-search">
                <%- include('./icons/search.svg') %>
              </i>
              搜索
            </button>
          </div>
          <div class="keywords">
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
            <a href="#">品牌升级</a>
          </div>
        </div>
      </div>
    </div>
    <div class="theme-switch"></div>
    <div class="userinfo flex">
      <img class="avatar" src="/images/user.png" alt="">
    </div>
  </div>
</header>
