html {
  font-size: $--base-font-size;
}

body {
  font-family: $--font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-body-bg);
  font-size: px2rem(14px);
  color: var(--color-text);
  &.bg-white {
    background-color: var(--color-body-bg-white);
  }
}



.flex {
  display: flex;
  align-items: center;
  [flex=auto] {
    flex: 1;
  }
}

.link-text {
  @include transition();
  text-decoration: none;
  color: var(--color-text);
  &:hover {
    color: var(--color-primary);
  }
  &.current {
    color: var(--color-primary);
  }
}

.#{$--prefix}-page {
  width: 100%;
  margin: auto;
  // padding: px2rem($--header-height) 4vw 0;
  padding: px2rem($--header-height) 0 0;
  .container {
    width: 100%;
    // max-width: px2rem(1200px);
    padding: 0 0.5rem;
    max-width: px2rem(980px);
    margin: auto;
  }
  .page-header {
    position: relative;
    padding-top: 1rem;
    .cover {
      width: 100%;
      height: 64%;
      display: block;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      // background-color: rgb(var(--rgb-black));
      user-select: none;
      z-index: -1;
      &::before {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        background-image: linear-gradient(to right, rgba(var(--rgb-black), 1) 0%, rgba(var(--rgb-black), 0) 50%, rgba(var(--rgb-black), 1) 100%);
        opacity: 0.8;
        z-index: 1;
      }
      img {
        filter: blur(30px);
      }
    }
    .cover-content {
      position: relative;
      z-index: 4;
    }
    .breadcrumbs {
      li {
        color: rgba(var(--rgb-white), 0.5);
      }
      a {
        color: rgba(var(--rgb-white), 0.84);
        &:hover {
          color: rgba(var(--rgb-white), 1);
        }
      }
    }
    .title {
      font-size: px2rem(20px);
      padding: 0 0 1rem 0;
      color: rgba(var(--rgb-white), 1);
    }
    .article-title {
      text-align: center;
      padding: 1rem 0 2rem;
      font-size: px2rem(28px);
    }
    .article-detail {
      @include center();
      gap: 1rem;
      padding: 0 0 1rem;
    }
  }
  .page-article-header {
    .cover {
      height: 100%;
      &::before {
        background-image: linear-gradient(to right, rgba(var(--rgb-white), 0.8) 0%, rgba(var(--rgb-white), 0.4) 50%, rgba(var(--rgb-white), 0.8) 100%);
        opacity: 1;
      }
    }
    .breadcrumbs {
      li {
        color: rgba(var(--rgb-black), 0.2);
      }
      a {
        color: rgba(var(--rgb-black), 0.6);
        &:hover {
          color: rgba(var(--rgb-black), 1);
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .#{$--prefix}-page {
    .page-header {
      .cover {
        height: 100%;
      }
    }
  }
}
