$--prefix: 'totonoo';

$--base-font-size: 16px;
$--def-sizes: 12, 14, 16, 18, 20;
$--max-zindex: 9;
$--header-height: 64px;

$--font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
