.sub-nav {
  background-color: var(--color-bg);
  border-radius: px2rem(8px);
  line-height: px2rem(64px);
  &-ul {
    @include center();
    flex-wrap: wrap;
    gap: 2rem;
    li {
      a {
        @include center();
        gap: 0.25rem;
      }
    }
    &.top {
      .current {
        position: relative;
        &::before, &::after {
          width: 0;
          height: 0;
          content: "";
          overflow: hidden;
          border: 6px solid transparent;
          border-bottom-color: var(--color-primary);
          position: absolute;
          left: 50%;
          bottom: -1px;
        }
        &::after {
          border-bottom-color: var(--color-bg);
          bottom: -2px;
        }
      }
    }
  }
  &-ul + &-ul {
    border-top: 1px solid var(--color-border);
    line-height: px2rem(48px);
  }
}
.btn-sub-nav-menu {
  display: none;
}

@media screen and (max-width: 720px) {
  .btn-sub-nav-menu {
    display: flex;
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
    color: var(--color-white);
  }
  .sub-nav {
    width: 80vw;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
    transition: all 200ms ease-in-out;
    position: absolute;
    right: 2rem;
    top: 0.25rem;
    z-index: $--max-zindex;
    line-height: px2rem(48px);
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    &.show {
      transform: scale(1);
      opacity: 1;
    }
    &-ul {
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      flex: 1;
      padding: 0.5rem 0 !important;
      li {
        width: 100%;
        padding: 0 2rem;
        a {
          justify-content: flex-start;
        }
      }
      &.top {
        .current {
          &::before, &::after {
            // display: none;
            border-bottom-color: transparent;
            border-right-color: var(--color-primary);
            left: auto;
            bottom: auto;
            top: 50%;
            right: px2rem(-33px);
            margin-top: -6px;
          }
          &::after {
            border-right-color: var(--color-bg);
            right: px2rem(-35px);
          }
        }
      }
    }
    &-ul + &-ul {
      border-top: 0;
      border-left: 1px solid var(--color-border);
    }
  }
}