.document-reader {
  margin-top: 2rem;
  word-break: break-all;
  text-align: justify;
  .header-anchor {
    display: none;
  }
  &.markdown-body {
    h2 {
      border-bottom-width: 0;
    }
    a {
      @include transition();
      color: var(--color-primary);
      text-decoration: underline;
      &:hover {
        color: var(--color-anti);
      }
    }
    table {
      width: 100%;
      display: table;
    }
    .code-toolbar {
      > .toolbar {
        opacity: 1;
        top: 0;
        right: px2rem(8px);
        display: flex;
        align-items: center;
        .toolbar-item {
          @include center();
          > span, > button {
            border-radius: 0;
            display: block;
            line-height: 1.6rem;
            color: rgba(var(--rgb-white), 0.6);
            font-size: px2rem(12px);
          }
          > button {
            cursor: pointer;
          }
          &:first-child {
            > span, > button {
              border-bottom-left-radius: px2rem(4px);
            }
          }
          &:last-child {
            > span, > button {
              border-bottom-right-radius: px2rem(4px);
            }
          }
        }
      }
    }
  }
}
.page-main-article {
  position: relative;
}
.article-hgroups {
  overflow: auto;
  font-size: px2rem(12px);
  border-left: 1px solid var(--color-border);
  display: none;
  a {
    @include transition();
    width: 100%;
    text-decoration: none;
    color: var(--color-text-secondary);
    padding: 0.3rem 0;
    display: block;
    line-height: 1;
    &:hover {
      color: var(--color-primary);
    }
  }
  li {
    @include transition();
    border-left: 3px transparent solid;
    &.current {
      border-left-color: var(--color-primary);
      background-color: rgba(var(--rgb-primary), 0.08);
      a {
        color: var(--color-primary);
      }
    }
  }
  @for $i from 2 through 6 {
    .h#{$i} {
      padding-left: px2rem(12px * ($i - 1));
    }
  }
}
.related-articles .post-list ul.post-list-ul {
  background-color: rgba(var(--rgb-black), 0.03);
}
